* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 1366px;
    margin: 0 auto;
}

.mw-100 {
    max-width: 100%;
}


.b01 {
    background: #EFEFEF;
    color: #414342;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 75px 50px 75px 50px;
    margin: 0 auto;
}

.info-container {

}

.photo-container {
    min-width: 50%;
    max-width: 700px;
    margin: 0 auto;
}

.name {
    font-size: 58px;
    line-height: 75px;
    font-weight: 600;
    margin-bottom: 43px;
}

.about {
    font-size: 19px;
    line-height: 25px;
    font-weight: 200;
    margin-bottom: 60px;
}

.button {
    background: #00C8EB;
    padding: 10px 20px;
    color: #fff;
    border-radius: 36px;
    box-shadow: 0 12px 10px rgba(0,0,0,.16);
    text-decoration: none;
    transition: all .3s;
    font-size: 19px;
    line-height: 25px;
    font-weight: 400;
}

.button:hover {
    opacity: 0.7;
    box-shadow: 0 6px 5px rgba(0,0,0,.16);
}





.b02 {

}

.products-container {
    padding: 50px;
    margin: 0 auto;
    text-align: center; 
}

.product {
    display: inline-block;
    width: 33%;
    color: #414342;
    text-align: center;
    padding: 20px 70px;
    margin-top: 30px;
}



.product-img {
    margin-bottom: 50px;
    transition: all .2s;
}

.product-img:hover {
    transform: scale(1.05);
}

.product-name {
    font-size: 37px;
    line-height: 50px;
    font-weight: 600;
    margin-bottom: 35px;
}

.product-about-container, .animated-button, .animated-about {
    width: 100%;
    height: 150px;
}

.animated-button {
    opacity: 0;
    position: relative;
    top: -150px;
}

.animated-button, .animated-about {
    transition: all .5s;
}

.product-button {
    width: 100%;
    display: block;
    background: #00C8EB;
    padding: 10px 20px;
    color: #fff;
    border-radius: 36px;
    box-shadow: 0 12px 10px rgba(0,0,0,.16);
    text-decoration: none;
    transition: all .5s;
    font-size: 19px;
    line-height: 25px;
    font-weight: 400;
}

.product-about {
    font-size: 20px;
    line-height: 25px;
    font-weight: 200;
    transition: all .5s;
}

.product-about-container:hover .animated-button {
    opacity: 1;
}

.product-about-container:hover .animated-about {
    opacity: 0;
}

.product-button:hover {
    opacity: 0.7;
    box-shadow: 0 6px 5px rgba(0,0,0,.16);
}




.p07, .p08, .p09, .p10 {
    margin: 30px 100px 0px 100px;
}

.lifestyle-container {
    line-height: 0;
}







@media screen and (max-width: 1315px) {
    .p07, .p08, .p09, .p10 {
        margin: 30px 50px 0px 50px;
    }





@media screen and (max-width: 1250px) {
    .b01 {
        flex-direction: column-reverse;
        justify-content: center;
    }
}

@media screen and (max-width: 1050px) {
    .product {
        width: 49%;
    }

    .p07, .p08, .p09, .p10 {
        margin: 30px 0;
    }
}

@media screen and (max-width: 800px) {
    .product-name {
        font-size: 18px;
        line-height: 27px;
        font-weight: 600;
        margin-bottom: 35px;
    }
    
    .product-about {
        font-size: 14px;
        line-height: 20px;
        font-weight: 200;
    }

    .product {
        padding: 20px 20px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 500px) {

    .b01 {
    padding: 75px 20px 75px 20px;
    text-align: center;
    }

    .name {
        font-size: 30px;
        line-height: 40px;
        font-weight: 600;
    }
    
    .about {
        font-size: 14px;
        line-height: 18px;
        font-weight: 200;
    }

    .photo-container {
        margin-top: 30px;
    }

    .button {
        padding: 10px 35px;
    }

    .products-container {
        padding: 20px;
    }

    .product-name {
        margin-bottom: 20px;
    }
}